button {
	border:1px solid #a0abab; 
	font-size:12px;
	font-family:arial, helvetica, sans-serif; 
	padding: 2px 2px 2px 2px; 
	text-decoration:none; display:inline-block;
	font-weight:bold; 
	color: #080808;
 	background-color: #BEC5C5; 
 	background-image: linear-gradient(to bottom, #BEC5C5, #D9DDDD);
}