@import 'components/input';
@import 'components/button';
@import 'components/delete';
@import 'components/app';
@import 'components/pictureBox';
@import 'components/vars';

body {
	background: $color-blue;
	font-size:12px;
	font-family:arial, helvetica, sans-serif; 
	font-weight:bold; 
	color: #080808;
}

div {
	padding-top: 5%
}